body {
	background-color: red;
}

h1 {
	font-weight: bold;
	padding-top: 30px;
	padding-left: 10px;
	padding-bottom: 15px;
	font-size: 60px;
}

h2 {
	font-weight: normal;
	display: inline;
	font-size: 30px;
	padding-left: 10px;
}

p {
	font-size: 25px;
	display: inline;
	font-family: courier;
}